
body {
  color: #333;
  background-color: #EEE;
}
h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 500%;
  text-shadow:
    0 -1px 1px rgba(0, 0, 0, 0.4)
    0  1px 1px rgba(255, 255, 255, 0.75);
}
